<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Detaylar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{instructor.userFirstName}} {{instructor.userLastName}}</h5>
      <p class="card-text">{{instructor.curriculumVitaeUniversityName}}</p>
      <p class="card-text">{{instructor.curriculumVitaeLicanceDegree}}</p>
      <p class="card-text">{{instructor.curriculumVitaeSkills}}</p>
    </div>
  </div>